<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Preparing Shift App</title>
    </head>
    <body>
        <h1>Preparing Shift App</h1>
        <ul>
            <li>
                <p>既にお店を登録済みの方はこちら</p>
                <a href="http://localhost:8080/login">Login</a>
            </li>
            <li>
                <p>新しくお店の登録を行いたい方はこちら</p>
                <a href="http://localhost:8080/signup">Sign Up</a>
            </li>
        </ul>
    </body>
</html>